/* intuitivnější box-sizing */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font-family: sans-serif;
}

.sloupec {
	padding: 20px;
}

.hlavicka	{ background-color: #2ecc71; }
.hlavni		{ background-color: #f1c40f; }
.levy			{ background-color: #3498db; }
.pravy		{ background-color: #e74c3c; }
.paticka	{ background-color: #9b59b6; }

/* ---------------------------------------------------- */

.kontejner{
	display: grid;
	grid-template-rows: 1fr auto 1fr;
	grid-template-columns: 200px auto 250px;
	gap: 20px;
}

.hlavicka{
	height: 200px;
	grid-column: 1/-1;
}

.levy{
	width: 200px;
	grid-row: 2;
}

.pravy{
	width: 250px;
	
}

.paticka{
	height: 100px;
	grid-column: 1/-1;
}

.hlavni{
	
}